__pycache__
*.o
*.os
*.obj
*.tmp
.DS_Store
.sconsign.dblite
bin/addons/tiny_lobby/libtiny_lobby.macos.template_debug.dev.universal.framework/libtiny_lobby.macos.template_debug.dev.universal
src/gen/doc_data.gen.cpp
