__pycache__
*.o
*.os
*.obj
*.tmp
.DS_Store
.sconsign.dblite
bin/addons/network_services/libnetwork_services.macos.template_debug.dev.universal.framework/libnetwork_services.macos.template_debug.dev.universal
